<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Test Admission Kalitics</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ path('home') }}">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ path('home') }}">Accueil </a>
      </li>
      {% if is_granted('IS_AUTHENTICATED_FULLY') %}
{% for role in app.user.roles %}
  {% if role == 'ROLE_SUPER_ADMIN' %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('parametre') }}">Parametres Application</a>
      </li>

   <li class="nav-item">
        <a class="nav-link" href="{{ path('agenda') }}">Agenda</a>
      </li>
     

       <li class="nav-item">
        <a class="nav-link" href="{{ path('fiches_de_paie') }}">Fiche de paie</a>
      </li>

     <li class="nav-item">
        <a class="nav-link" href="{{ path('gestion') }}">gestion documentaire</a>
      </li>

        <li class="nav-item">
        <a class="nav-link" href="{{ path('reunions') }}">Réunions d'équipe</a>
      </li>

        <li class="nav-item">
        <a class="nav-link" href="{{ path('consultations_chantier') }}">Consultation chantier</a>
      </li>
            {% endif %}
 {% if role == 'ROLE_DIRECTION' %}
    
      
   <li class="nav-item">
        <a class="nav-link" href="{{ path('agenda') }}">Agenda</a>
      </li>
     

       <li class="nav-item">
        <a class="nav-link" href="{{ path('fiches_de_paie') }}">Fiche de paie</a>
      </li>

     <li class="nav-item">
        <a class="nav-link" href="{{ path('gestion') }}">gestion documentaire</a>
      </li>

        <li class="nav-item">
        <a class="nav-link" href="{{ path('reunions') }}">Réunions d'équipe</a>
      </li>

        <li class="nav-item">
        <a class="nav-link" href="{{ path('consultations_chantier') }}">Consultation chantier</a>
      </li>
            {% endif %}

       {% if role == 'ROLE_RH' %}
    
      
   <li class="nav-item">
        <a class="nav-link" href="{{ path('agenda') }}">Agenda</a>
      </li>
     

       <li class="nav-item">
        <a class="nav-link" href="{{ path('fiches_de_paie') }}">Fiche de paie</a>
      </li>

     <li class="nav-item">
        <a class="nav-link" href="{{ path('gestion') }}">gestion documentaire</a>
      </li>
            {% endif %}

      {% if role == 'ROLE_MANAGER_EQUIPE' %}
    
      
   <li class="nav-item">
        <a class="nav-link" href="{{ path('agenda') }}">Agenda</a>
      </li>
     
   <li class="nav-item">
        <a class="nav-link" href="{{ path('reunions') }}">Réunions d'équipe</a>
      </li>

        <li class="nav-item">
        <a class="nav-link" href="{{ path('consultations_chantier') }}">Consultation chantier</a>
      </li>
            {% endif %}

       {% if role == 'ROLE_OPERATEUR' %}
    
      
   <li class="nav-item">
        <a class="nav-link" href="{{ path('agenda') }}">Agenda</a>
      </li>
   
            {% endif %}
      {% if role == 'ROLE_AGENDA' %}

      <li class="nav-item">
        <a class="nav-link" href="{{ path('agenda') }}">Agenda</a>
      </li>
      {% endif %}
      {% if role == 'ROLE_APP_SETTING' %}

       <li class="nav-item">
        <a class="nav-link" href="{{ path('parametre') }}">Parametres Application</a>
      </li>
            {% endif %}
      {% if role == 'ROLE_PAY' %}

      <li class="nav-item">
        <a class="nav-link" href="{{ path('fiches_de_paie') }}">Fiche de paie</a>
      </li>
                  {% endif %}
       {% if role == 'ROLE_GED' %}

 <li class="nav-item">
        <a class="nav-link" href="{{ path('gestion') }}">gestion documentaire</a>
      </li>
                        {% endif %}
       {% if role == 'ROLE_TEAM_MEETING' %}

       <li class="nav-item">
        <a class="nav-link" href="{{ path('reunions') }}">Réunions d'équipe</a>
      </li>
                              {% endif %}
       {% if role == 'ROLE_SITE' %}

       <li class="nav-item">
        <a class="nav-link" href="{{ path('consultations_chantier') }}">Consultation chantier</a>
      </li>
      {% endif %}

      {% endfor %}

   
 
 <li class="nav-item">
        <a class="nav-link" href="{{ path('app_logout') }}">Se deconnecter</a>
      </li>  

 <li class="nav-item">
        <a class="nav-link" href="{{ path('user_edit_role', {'id': app.user.id}) }}">Fonction utilisateur</a>
      </li>  
        {% else %}
 </li> <li class="nav-item">
        <a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
      </li>   
  {% endif %} 
    </ul>
   
  </div>
</nav>
    <div class=" container">
                            {% block body %}{% endblock %}
                            {% block javascripts %}{% endblock %}
            </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>